<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nuevo estudiante</title>
</head>
<body>

	<h1>Ingresar nuevo estudiante</h1>
	<form th:action="@{save}" th:object="${estudiante}" method = "POST">
	
		<label>Nombre:</label>
		<input th:field="*{Nombre}" type="text"/><br>
		<span th:errors = "*{nombre}" style="color: #E81505"></span><br>
		
		<label>Apellido:</label>
		<input th:field="*{Apellido}" type="text"/><br>
		<span th:errors = "*{apellido}" style="color: #E81505"></span><br>
		
		<label>Edad(No menor a 18 años):</label>
		<input type="number" th:field="*{Edad}"/><br>
		<span th:errors = "*{edad}" style="color: #E81505"></span><br>
		
		<label>Activo:</label>
		<input th:field="*{estado}" type="radio" th:value="${true}"/>
		<label>Inactivo:</label>
		<input th:field="*{estado}" type="radio" th:value="${false}"/>
		
		<input type="submit" value ="Guardar">
	
	</form>

</body>
</html>